
@import "icons";

.slider {

	&-thumb {
		float: left;
		width: 300px;
		cursor: pointer;

		img {
			width: 100%;
		}
	}
}

#slider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(white, .9);

	@mixin slider-btn {
		position: absolute;
		background-color: transparent;
		border: none;
		outline: none;
		color: black;
		font-size: 32px;
		cursor: pointer;
	}

	.close-btn {
		@include slider-btn;

		z-index: 300;
		right: 0;
		width: 50px;
		height: 50px;
	}

	.slide-btn {
		@include slider-btn;

		z-index: 200;
		width: 50px;
		height: 100%;

		&.mod-left {
			left: 0;
		}

		&.mod-right {
			right: 0;
		}
	}

	.slider-popup {

		&-container {
			overflow: hidden;
			position: relative;
			margin: 50px;
		}

		&-loading {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&-thumb {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}